trigger:
- master

pool:
  name: Default

steps:
- script: |
    java -version
    mvn -version
  displayName: 'Verify Java & Maven'

- script: |
    mvn clean package
  displayName: 'Build with Maven'